---
import { Image } from "astro:assets";
import AstroSVG from "../assets/astro-logo.svg";
---

<section>
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">welcome</h1>
        <p class="mb-8 text-lg font-normal text-[#b1bac4] lg:text-xl sm:px-16 lg:px-48">website powered with</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 items-center">
            <Image src={AstroSVG} width="150" height="48" alt=""/> 
        </div>
    </div>
</section>